 
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      body{
        background-image: url("./static/bg1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }

      .jumbotron{
        text-align: center;
        margin-top: 5%;
      }

      .vjtiimg{
        margin-left: 45%;
      }
    </style>
  </head>
  <body>
    <h1 class="jumbotron">Welcome To BlockChain Lab
    <br><br>
    {{first}} {{last}}
 	</h1>
  <img src="./static/vjti.png" class="vjtiimg">

  <script>
    window.setTimeout(function(){
      window.location.href = "/";
    },3000)
  </script>
  </body>
</html>